
<h4>CURRENT DAYTIME: <%= @forecast.current_datetime %> </h4>
<h4>CURRENT SUNRISE: <%= @forecast.current_sunrise %> </h4>
<h4>CURRENT SUNSET: <%= @forecast.current_sunset %> </h4>
<h4>CURRENT TEMP: <%= @forecast.current_temp %> </h4>
<h4>CURRENT FELLS LIKE : <%= @forecast.current_feels_like %> </h4>
<h4>CURRENT HUMIDITY: <%= @forecast.current_humidity %> </h4>
<h4>CURRENT UVI: <%= @forecast.current_uvi %> </h4>
<h4>CURRENT VISIBILITY: <%= @forecast.current_visibility %> </h4>
<h4>CURRENT CONDITIONS: <%= @forecast.current_conditions %> </h4>
<h4>CURRENT ICON: <%= @forecast.current_icon %> </h4>

<h4>DAILY DATE : <%= @forecast.daily_date %> </h4>
<h4>DAILY SUNRISE : <%= @forecast.daily_sunrise %> </h4>
<h4>DAILY SUNSET : <%= @forecast.daily_sunset %> </h4>
<h4>DAILY MAX TEMP : <%= @forecast.daily_max_temp %> </h4>
<h4>DAILY MIN TEMP : <%= @forecast.daily_min_temp %> </h4>
<h4>DAILY CONDITIONS : <%= @forecast.daily_conditions %> </h4>
<h4>DAILY ICON : <%= @forecast.daily_icon %> </h4>

<h4>HOURLY TIME : <%= @forecast.hourly_time %> </h4>
<h4>HOURLY TEMP : <%= @forecast.hourly_temp %> </h4>
<h4>HOURLY CONDITIONS : <%= @forecast.hourly_conditions %> </h4>
<h4>HOURLY ICON : <%= @forecast.hourly_icon %> </h4>
